#
# Copyright (C) 2023 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config BINDER_PERFORMANCE_THROUGHPUT
	tristate "Throughput Test"
	---help---
		Performance testing compared to Binder throughput test

config BINDER_PERFORMANCE_THROUGHPUT_STACKSIZE
	int "Throughput test stack size"
	depends on BINDER_PERFORMANCE_THROUGHPUT
	depends on LIB_GOOGLEBENCHMARK
	default DEFAULT_TASK_STACKSIZE

config BINDER_PERFORMANCE_THROUGHPUT_BINDER
	bool "Binder without AIDL"
	default n
	depends on BINDER_PERFORMANCE_THROUGHPUT
	depends on ANDROID_SERVICEMANAGER

config BINDER_PERFORMANCE_THROUGHPUT_SOCKET
	bool "Socket"
	default n
	depends on BINDER_PERFORMANCE_THROUGHPUT
	depends on NET_LOCAL

config BINDER_PERFORMANCE_THROUGHPUT_PIPE
	bool "Pipe"
	default n
	depends on BINDER_PERFORMANCE_THROUGHPUT
	depends on PIPES

